
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('back.mp4');
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.typewriter {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.type-text {
    display: block;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(11) forwards,
        /* shrink .1s 2s forwards, */
        cursor .4s step-end infinite;
}

.type-text.done {
    border-right: none;
    animation: none;
}

@keyframes cursor {
    50% { border-color: transparent}
}

@keyframes shrink {
    to {width: fit-content}
}

@keyframes typing {
    from {width: 0}
    to {width: 78%}
} 

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 45px 20px 20px;
    overflow: hidden;
    resize: none;
}

.input-box input::placeholder,textarea::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .btn:hover {
    background: #333;
    color: #fff;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}


.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.video-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-box select {
    width: 100%;
    height: 50px;
    background: transparent; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    appearance: none;  
    cursor: pointer;
}

.input-box {
    position: relative;
}

/* .input-box select + .dropdown-icon {
    content: "▼"; 
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
} */

.input-box select option {
    background: #333; 
    color: #fff;
}

.input-box select:focus {
    border-color: #fff;
}

#clock {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 20px;
    right: 20px;
  }
  